version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: direct
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
