build
*.c
*.so
a.out
tmp/
tests/tests.cfg
*.venv
*.pyc
.tox
dist
*.egg
*.egg-info
docs/_build
SQLAlchemy-*/
SQLAlchemy-*.tar.gz
freetds/
.idea/
venv/
*~
*.bak
.eggs
.eric?project
*.e4p
cython_debug/*
src/pymssql/version.h


