include ez_setup.py
include ChangeLog
include LICENSE
include *.pxd
include win32/freetds.zip
recursive-include .pyrex *
recursive-include nagios-plugin *
recursive-include tests *.py
include tests/tests.cfg.tpl
recursive-include freetds *
